@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 55, 86);
    background-color: radial-gradient(circle, rgba(31, 55, 86, 1) 0%, rgba(20, 21, 57, 1) 62%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    margin-top: 30px;
}

.text {
    width: 70%;
    color: white;
    padding: 15px 0 15px 15px;
    line-height: 1;
    font-weight: 600;
}

.score {
    width: 20%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    margin: 15px 15px;
    text-align: center;
    letter-spacing: 2px;
    color: hsl(229, 64%, 46%);
}

.score h5 {
    margin-top: 10px;
}

.score h6 {
    font-size: 55px;
    color: hsl(229, 25%, 31%);
}

.game {
    width: 650px;
    height: 200px;
    background-image: url(images/bg-triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 200px;
    margin-top: 50px;
    display: block;
    margin-top: 150px;
    /* toggle between display block and none */
}

.bonus-game {
    width: 650px;
    height: 300px;
    background-image: url(images/bg-pentagon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    display: none;
    margin-top: 60px;
}

.circle-specific,
.circle-specific-five {
    width: 130px;
    height: 130px;
}

.circle-constant,
.circle-constant-five {
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    position: relative;
    border: 15px solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    /* change to 80px in next render  */
}

.rock {
    border-color: hsl(349, 71%, 52%);
    box-shadow: 0 6px hsl(349, 70%, 56%);
    background-image: url(images/icon-rock.svg);
}

.rock-specific {
    left: 155px;
    bottom: 70px;
}

.rock-specific-five {
    left: 355px;
    top: 230px;
}

.paper {
    border-color: hsl(230, 89%, 62%);
    box-shadow: 0 5px hsl(230, 89%, 65%);
    background-image: url(images/icon-paper.svg);
}

.paper-specific {
    left: 250px;
    bottom: 70px;
}

.paper-specific-five {
    left: 280px;
    top: 40px;
}

.scissors {
    border-color: hsl(39, 89%, 49%);
    box-shadow: 0 5px hsl(40, 84%, 53%);
    background-image: url(images/icon-scissors.svg);
}

.scissors-specific {
    top: 140px;
    left: 5px;
}

.scissors-specific-five {
    bottom: 40px;
}

.lizard {
    border-color: hsl(261, 73%, 60%);
    box-shadow: 0 5px hsl(261, 72%, 63%);
    background-image: url(images/icon-lizard.svg);
}

.lizard-specific-five {
    top: 230px;
    right: 230px;
}

.spock {
    border-color: hsl(189, 59%, 53%);
    box-shadow: 0 5px hsl(189, 58%, 57%);
    background-image: url(images/icon-spock.svg);
}

.spock-specific-five {
    bottom: 90px;
    left: 105px;
}

.battle {
    width: 60%;
    /* changed to 90% in next render */
    height: 250px;
    display: none;
    /* toggle between display flex and none */
    flex-direction: row;
    text-align: center;
    margin-top: 100px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
}

.battle div {
    width: 50%;
}

.player {
    display: flex;
    flex-direction: column;
}

.hand {
    width: 100%;
    height: 100%;
    top: 40px;
    left: 95px;
}

.hand-two-dark {
    background-color: rgb(23, 34, 62);
    border-color: rgb(23, 34, 62);
}

.play-again {
    margin-top: 100px;
    display: none;
    /* toggled to block  */
}

.play-again button {
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

.play-again-resp {
    display: none;
}

.rules-btn {
    width: 150px;
    height: 50px;
    position: relative;
    left: 600px;
    top: 60px;
    background-color: transparent;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.five-way {
    width: 150px;
    height: 50px;
    position: relative;
    right: 600px;
    top: 10px;
    background-color: transparent;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.rules {
    display: none;
    background-image: url(images/image-rules.svg);
    background-repeat: no-repeat;
    background-position: 50% 85%;
    width: 400px;
    height: 400px;
    background-color: white;
    z-index: 100;
    border-radius: 15px;
    position: absolute;
    bottom: 90px;
}

.rules h1 {
    margin: 30px 150px 50px 50px;
    color: rgb(23, 34, 62);
}

.close-btn {
    width: 60px;
    height: 60px;
    font-size: 20px;
    position: relative;
    bottom: 95px;
    left: 300px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


@media (min-width: 320px) and (max-width: 425px) {
    .header {
        width: 100%;
    }

    .score {
        width: 30%;
    }

    .text h1 {
        font-size: 30px;
    }

    .game {
        margin-right: 20px;
    }

    .circle-specific-five {
        width: 100px;
        height: 100px;
    }

    .circle-constant-five {
        border-width: 10px;
    }

    .spock-specific-five {
        left: -270px;
        top: 60px;
    }

    .lizard-specific-five {
        right: 140px;
    }

    .scissors-specific-five {
        left: 60px;
    }

    .paper-specific-five {
        top: 60px;
        left: 300px;
    }

    .battle {
        width: 350px;
    }

    .battle div {
        width: 90%;
        margin: 0 20px;
    }

    .hand {
        left: -30px;
        width: 120px;
        height: 120px;
    }

    .hand-two {
        position: relative;
        top: 20px;
    }

    .play-again {
        display: none;
        position: absolute;
        bottom: -10px;
        right: -1.5%;
    }

    .rules-btn {
        position: relative;
        left: 1%;
        margin-top: 120px;
    }

    .five-way {
        position: relative;
        left: 1%;
        margin-top: 70px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .rules-btn {
        position: relative;
        left: 39.5%;
    }

    .five-way {
        position: relative;
        right: 39.5%;
    }
}
